@font-face {
  font-family: "DONKEY";
  src: url("/fonts/donkey.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/lufga-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Common Style Variables */

  /* Color */
  --color-dodgerblue: #5990ff;
  --color-gray: rgba(255, 255, 255, 0.15);
  --color-mediumslateblue: #5252ed;
  --color-white: #fff;

  /* Padding */
  --padding-20: 20px;

  /* BorderRadius */
  --br-32: 32px;

  /* Font */
  --font-donkey: DONKEY;
  --font-lufga: Lufga;

  /* Shadows */
  --text-shadow-1: 1px 1px 2px rgba(255, 255, 255, 0.25);
}
